{% extends 'TeamAdmin/TeamAdminMaster.html' %}
{% load humanize %}
{% block content%}
    <div class="container" style="min-height: 300px;">
        
            <div class="row">
              
                <div class="col-md-12" >
                    <h1 class="text-danger">Tournament Name</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 20px;">
                    <div class="col-md-2">
                        Vote for CSK
                    </div>
                    <div class="col-md-8">
                        
                    </div>
                    <div class="col-md-2">
                        Vote for CSK
                    </div>
                </div>
            </div>
            <div class="row">
           <div class="col-md-12">
                  
             <video height="500px">
                <source src="../../../static/mov_bbb (1).mp4">
                
                </video>
           </div>
            </div>
           

    </div>
{% endblock %}


