{% extends 'TeamAdmin/TeamAdminMaster.html' %}
{% load humanize %}
{% block content%}
    <div class="container" style="min-height: 300px;">
        <div class="row">
              
            <div class="col-md-12" >
                <h1 class="text-danger">Tournament Name</h1>
            </div>
        </div>
        
            <div class="row" style="margin-top: 20px;">
              
               
           <div class="col-md-12">

            <div class="col-md-4">
                <img src="../../../static/assets/images/faces/face13.jpg" alt="" height="200px">
                <h3 style="margin-top: 20px;font-size: large;">RCB</h3>
                <h3 style="margin-top: 20px;font-size: medium;">170/6(20)</h3>
            </div>
            <div class="col-md-4">
                
             <h1>V S</h1>
            </div>
            <div class="col-md-4">
                <img src="../../../static/assets/images/faces/face16.jpg" alt="" height="200px">
           
                <h3 style="margin-top: 20px;font-size: large;">CSK</h3>
                <h3 style="margin-top: 20px;font-size: medium;">174/6(20)</h3>
            </div>
           </div>
            </div>

             <div class="row" style="margin-top: 10px;">
              
               
           <div class="col-md-12">
              <h3>CSK won by 2 Runs</h3>
               </div>
               
               </div>
               <div class="row" style="margin-top: 10px;">
              
               
                <div class="col-md-12">
                   <h3>Vote : </h3>
                    </div>
                    
                    </div>
     
    </div>
{% endblock %}


