{% extends 'TeamAdmin/TeamAdminMaster.html' %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Tournament Name</h2>
        </div>
        <div class="col-md-12" style="margin-top: 20px;">
            <table class="table table-hover">
                <tr>
                    <th>Team</th>
                    <th>Matches</th>
                    <th>Win</th>
                    <th>Loss</th>
                    <th>Tie</th>
                    <th>Points</th>
                </tr>
                <tr>
                    <td>RCB</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>2</td>
                </tr>
            </table>
        </div>
    </div> 
</div>               
{% endblock %}

