{% extends 'TeamAdmin/TeamAdminMaster.html' %}

{% block content%}
       


<div class="container" style="min-height: 300px;">
    {% for m in matches %}
    <form action="" method="POST">
        {% csrf_token %}
    <div class="row" style="margin-top: 10px;" >

        <div class="col-md-12" style="border: 1px solid red;background-color: cyan;" style="margin-top: 70px;">
            <p style="margin-top: 20px; margin-left: 280px;color: red;font-weight: 500; font-size: large;">{{m.tournament_id.tournament_title|title}} ({{m.tournament_id.start_date}})</p>
            <table style="border-spacing: 10px; border-collapse: separate;min-height:   100px;width:800px; margin-left: 150px;"  >
               
                <tr>
                    <td> <img src="{{m.team1.team_logo.url}}" alt="" height="80px" width="80px">
                    <!-- <br> -->
                    <!-- <p style="margin-top: 5px;margin-left: 128px;margin-top: 10px;">CSK  </p> -->
                    </td>   
                    <td > VS</td>
                    <td>
                        <img src="{{m.team2.team_logo.url}}" alt="" height="80px" width="80px">
                    <!-- <br>
                    <p style="margin-top: 5px;margin-left: 15px;">CSK</p> -->
                    </td>
                    
                    <td><input type="submit" name="" class="btn btn-primary" id="">  
                        <input type="hidden" name="id"  value={{m.id}} id="">
                </td>
                </tr>
                <tr>
                    <td>{{m.team1.team_name|upper}}</td>
                    <td></td>
                    <td>{{m.team2.team_name|upper}}</td>
                </tr>
                <tr>
                    <td colspan="3" style="color: red;">{{m.result|title}}</td>
                </tr>
                 
            </table>

        </div> 

        
        
        
        

        
    </div>
</form>
    {% endfor %}
    {% comment %} <div class="row" style="margin-top: 10px;">
        <div class="col-md-12" style="border: 1px solid red;background-color: cyan;" >
            <p style="margin-top: 20px; margin-left: 280px;color: red;font-weight: 500; font-size: large;">Tournament name (12/10/2022)</p>
            <table style="border-spacing: 10px; border-collapse: separate;min-height:   100px;width:800px; margin-left: 150px;"  >
                <tr>
                    <td> <img src="../../../static/assets/images/faces/face16.jpg" alt="" height="80px">
                    <!-- <br> -->
                    <!-- <p style="margin-top: 5px;margin-left: 128px;margin-top: 10px;">CSK  </p> -->
                    </td>   
                    <td > VS</td>
                    <td>
                        <img src="../../../static/assets/images/faces/face16.jpg" alt="" height="80px">
                    <!-- <br>
                    <p style="margin-top: 5px;margin-left: 15px;">CSK</p> -->
                    </td>
                    <td><a href="" class="btn btn-primary">Watch</a></td>
                </tr>
                <tr>
                    <td>CSK</td>
                    <td></td>
                    <td>RCB</td>
                </tr>
                 
            </table>

        </div>

        
    </div> {% endcomment %}
    
     
</div>

{% endblock %}


