{% extends 'TeamAdmin/TeamAdminMaster.html' %}

{% block content%}
       


<div class="container" style="min-height: 300px;">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12" style="border: 1px solid red;background-color: cyan;" >
            <p style="margin-top: 20px; margin-left: 280px;color: red;font-weight: 500; font-size: large;">Tournament name (12/10/2022)</p>
            <table style="border-spacing: 10px; border-collapse: separate;min-height:   100px;width:800px; margin-left: 150px;"  >
                <tr>
                    <td> <img src="../../../static/assets/images/faces/face16.jpg" alt="" height="80px">
                    <!-- <br> -->
                    <!-- <p style="margin-top: 5px;margin-left: 128px;margin-top: 10px;">CSK  </p> -->
                    </td>   
                    <td > VS</td>
                    <td>
                        <img src="../../../static/assets/images/faces/face16.jpg" alt="" height="80px">
                    <!-- <br>
                    <p style="margin-top: 5px;margin-left: 15px;">CSK</p> -->
                    </td>
                    <td><a href="" class="btn btn-primary">Watch</a></td>
                </tr>
                <tr>
                    <td>CSK(190/7)</td>
                    <td></td>
                    <td>RCB (192/9)</td>
                </tr>
                <tr>
                    <td colspan="3">RCB won by 2 runs</td>
                </tr>
                 
            </table>

        </div>{% extends 'Venue/VenueMaster.html' %}

        {% block content%}
                    <h3 class="text-danger">Welcome Home</h3>
        {% endblock %}
        
        
        

        
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12" style="border: 1px solid red;background-color: cyan;" >
            <p style="margin-top: 20px; margin-left: 280px;color: red;font-weight: 500; font-size: large;">Tournament name (12/10/2022)</p>
            <table style="border-spacing: 10px; border-collapse: separate;min-height:   100px;width:800px; margin-left: 150px;"  >
                <tr>
                    <td> <img src="../../../static/assets/images/faces/face16.jpg" alt="" height="80px">
                    <!-- <br> -->
                    <!-- <p style="margin-top: 5px;margin-left: 128px;margin-top: 10px;">CSK  </p> -->
                    </td>   
                    <td > VS</td>
                    <td>
                        <img src="../../../static/assets/images/faces/face16.jpg" alt="" height="80px">
                    <!-- <br>
                    <p style="margin-top: 5px;margin-left: 15px;">CSK</p> -->
                    </td>
                    <td><a href="" class="btn btn-primary">Watch</a></td>
                </tr>
                <tr>
                    <td>CSK</td>
                    <td></td>
                    <td>RCB</td>
                </tr>
                 
            </table>

        </div>

        
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12" style="border: 1px solid red;background-color: cyan;" >
            <p style="margin-top: 20px; margin-left: 280px;color: red;font-weight: 500; font-size: large;">Tournament name (12/10/2022)</p>
            <table style="border-spacing: 10px; border-collapse: separate;min-height:   100px;width:800px; margin-left: 150px;"  >
                <tr>
                    <td> <img src="../../../static/assets/images/faces/face16.jpg" alt="" height="80px">
                    <!-- <br> -->
                    <!-- <p style="margin-top: 5px;margin-left: 128px;margin-top: 10px;">CSK  </p> -->
                    </td>   
                    <td > VS</td>
                    <td>
                        <img src="../../../static/assets/images/faces/face16.jpg" alt="" height="80px">
                    <!-- <br>
                    <p style="margin-top: 5px;margin-left: 15px;">CSK</p> -->
                    </td>
                    <td><a href="" class="btn btn-primary">Watch</a></td>
                </tr>
                <tr>
                    <td>CSK</td>
                    <td></td>
                    <td>RCB</td>
                </tr>
                 
            </table>

        </div>

        
    </div>
     
</div>

{% endblock %}


