{% extends 'TeamAdmin/TeamAdminMaster.html' %}
{% load humanize %}
{% block content%}
    <div class="container" style="min-height: 300px;">
<table class="table table-hover">
    <tr>
        <th>Title</th>
        <th>Starting Date</th>
        <th>End Date</th>
        <th>Reg Date</th>
        <th>Max.Players</th>
        <th>Ground Fee</th>
        <th>Prize Money</th>
        <th></th>
        <th></th>
    </tr>
<tr>
    {% for t in tournaments %}
    <td style="max-width: 100px;overflow: hidden;">{{t.tournament_id.tournament_title|capfirst}}</td>
    <td id="s_date">{{t.tournament_id.start_date}}</td>
    <td >{{t.tournament_id.end_date}}</td>
    <td>{{t.tournament_id.reg_date}}</td>
    <td>{{t.tournament_id.players_allowed}} No{{t.tournament_id.players_allowed|pluralize}} </td>
    <td>Rs {{t.tournament_id.reg_fee|intcomma}}</td>
    <td>Rs {{t.tournament_id.win_prize|intcomma}}</td>
   
  <td><a href="{% url 'club_management:t_players' t.tournament_id.tournament_id %}" id="p">Add Players</a></td>
  <td><a href="">Fixtures</a></td>
    <td><input type="hidden" name="t_id" value="{{t.tournament_id}}" id=""></td>
</tr>

{% endfor %}
</table>
</div>



{% endblock %}


