{% extends 'TeamAdmin/TeamAdminMaster.html' %}

{% block content%}
    <h2 class="text-primary" style="margin-top: 40px; margin-left: 390px;">Player Details</h2>
    
    <div class="container">
    <img src="{{player.player_img.url}}" class="mg img-circle " style="height: 150px; width: 150px;border-radius: 20px;margin-bottom: 20px;">
    <h2 style="display: inline; margin-left: 230px;">{{player.player_name|title}}</h2>
<table class="player-details  table table-striped" style="margin-bottom: 30px;">
    <!-- <tr>
        
        <td></td>
    </tr> -->
    <tr>
        <td>Player Name</td>
        <td>{{player.player_name|title}}</td>
    </tr>
    <tr>
        <td>Player Position</td>
        <td>{{player.player_position|title}}</td>
    </tr>
    <tr>
        <td>Height</td>
        <td>{{player.player_height}} cm</td>
    </tr>
    <tr>
        <td>Weight</td>
        <td>{{player.player_weight}} Kg</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{player.player_email}}</td>
    </tr>
    <tr>
        <td>D.O.B</td>
        <td>{{player.player_dob}}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{player.player_address|capfirst}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{player.player_email}}</td>
    </tr>
    <tr>
        <td>Phone No</td>
        <td>{{player.player_ph}}</td>
    </tr>

</table>

</div>
{% endblock %}


