{% extends 'Common/CommonMaster.html' %}
{% block content %}
<form action="{% url 'club_management:team_reg' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p style="margin-left: 90px; font-weight: bolder;color:red; font-size: large;">Register Your Team Now!</p>
    <table  style="border-collapse: separate; border-spacing: 15px;">
        <tr>
           <td> {{form.team_name.label}}</td>
           <td> {{form.team_name}}</td>
        </tr>
        <tr>
            <td> {{form.team_place.label}}</td>
            <td> {{form.team_place}}</td>
         </tr>
         <tr>
            <td> {{form.team_phno.label}}</td>
            <td> {{form.team_phno}}</td>
         </tr>
         <tr>
            <td> {{form.team_email.label}}</td>
            <td> {{form.team_email}}</td>
         </tr>
         <tr>
            <td> {{form.team_place.label}}</td>
            <td> {{form.team_logo}}</td>
         </tr>
         <tr>
             <td>Team Type</td>
             <td><select name="team_type" class="form-control">
                {% for type in types %}
                <option value={{type.sport_id}}>{{type.sport_name|capfirst}} -- {{type.sport_type|capfirst}}</option>
                {% endfor %}
            </select></td>
         </tr>
         <tr><td></td><td><input type="submit" class="btn btn-primary" value="Register"/> {{msg}}</td></tr>
    </table>
    
      
</form>
{% endblock %}