{% extends 'Member/MemberMaster.html' %}

{% block content %}
<div class="container" style="min-height: 300px;">
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 40px;">
            <h2>Watch Video</h2>
        </div>
    </div>
    {% if fx.match_video != '' %}
    <div class="row" style="min-height: 300px;">
        <div class="col-md-12 h3" style="margin-top: 20px;margin-bottom: 40px;">
            {{fx.match|upper}}
        </div>
        <div class="col-md-6" style="margin-bottom: 30px;">

            {% if team_voted == fx.team1.team_id %}
            <button id="btn1" onclick="vote('{{fx.team1.team_id}}',1)" style="border: none;background-color: white"> <i
                    class="fa fa-heart " id="sp1" style="color:red;font-size:70px;"></i></button>


            {% else %}
            <button id="btn1" onclick="vote('{{fx.team1.team_id}}',1)" style="border: none;background-color: white"> <i
                    class="fa fa-heart " id="sp1" style="color:grey;font-size:70px;"></i></button>
            {% endif %}
            <br>
            Vote for {{fx.team1.team_name|upper}}
        </div>
        <div class="col-md-6">
            {% if team_voted == fx.team2.team_id %}
            <button id="btn2" onclick="vote('{{fx.team2.team_id}}',2)" style="border: none;background-color: white"> <i
                    class="fa fa-heart " id="sp2" style="color:red;font-size:70px;"></i></button>
            {% else %}
            <button id="btn2" onclick="vote('{{fx.team2.team_id}}',2)" style="border: none;background-color: white"> <i
                    class="fa fa-heart " id="sp2" style="color:grey;font-size:70px;"></i></button>

            {% endif %}
            <br>
            Vote for {{fx.team2.team_name|upper}}
        </div>
        <div class="col-md-12">

            <video src="{{fx.match_video.url}}" controls height="500px" width="100%"></video>


        </div>
    </div>
    {% else %}
    <h1 style="margin-top: 30px;">Match Not Started Streaming Yet....</h1>
    {% endif %}



</div>

<script>

    function vote(team,btn_no) {
        
        
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            }
        })
console.log(btn_no)

        $.ajax({
            url: '/SCMS/Member/Vote',
            type: 'POST',
            data: {
                fx_id: '{{fx.id}}',
                team: team
            },
            success: function (response) {
                // console.log(response.voted_team)
                // console.log(team,'dekdeod')
                // console.log(typeof(response.voted_team))

                if(btn_no==1){
                        console.log('true')
                    $('#btn1').html("<i class='fa fa-heart' id='sp1' style='color:red;font-size:70px;'></i>")
                    $('#btn2').html("<i class='fa fa-heart' id='sp2' style='color:grey;font-size:70px;'></i>")
                    console.log( $('#btn1').html())
                
                }
                else{
                    console.log('false')
                    $('#btn2').html("<i class='fa fa-heart' id='sp2' style='color:red;font-size:70px;'></i>")
                    $('#btn1').html("<i class='fa fa-heart' id='sp1' style='color:grey;font-size:70px;'></i>")
                    console.log( $('#btn2').html())
                }
            }

        })



    }
</script>
{% endblock %}