{% extends 'Admin/AdminMaster.html' %}

{% block page_content %}
<div class="container">
    <h2 class="text-primary" style="margin-left: 290px;margin-top: 30px;">Add Sport</h2>
    <form action="{% url 'club_management:add_sport' %}" method="POST" style="margin-top: 40px;">
        {% csrf_token %}
    
        <table style="margin-left: 100px;border-collapse: separate;border-spacing: 10px;">
            <tr>
                <td>Sport Name</td>
                <td><input type="text" required class="form-control"  name="sp_name" id=""></td>
                
            </tr>

            <tr>
                <td>Type</td>
                <td><select name="sp_type" id="" class="form-control">
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                </select></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" class="btn btn-primary"/>
                   </td>
               
            </tr>
            <tr><td><td> {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger" id="form-error">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger" id="form-error">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
                {% if success_msg %}
                <p class="alert alert-success alt"  id="msg">{{success_msg}}</p>
                {% endif %}
                {% if error_msg %}
                <p class="alert alert-danger alt" id="msg">{{error_msg}}</p>
                {% endif %}</td></tr>
        </table>
   


</form>

{% if sports %}
<form class="f1">
    <table class="table table-primary">
        <thead>
            <tr>
                <th>Sports Name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for sport in sports %}
            <tr>
                <td>
                {{sport.sport_name|capfirst}}
                </td>
                <td>
                    {{sport.sport_type|capfirst}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</form>
</div>
{% else %}
<p>No Data Found</p>
{% endif %}
<script>
    $(document).ready(function(){
  $("#id_sport_name").focus(function(){
   document.getElementById("id_sport_name").value="";
  document.getElementById("msg").innerHTML="";
 
   
   
  }
  
  
  );

 
  
});
</script>
{% endblock %}
