{% extends 'Admin/AdminMaster.html' %}

{% block page_content %}
<div class="container">
     
    <div class="row " >
        <div class="col-md-4">

        </div>
        <h3 class="text-primary" style="margin-top: 30px;margin-bottom: 0px;">Tournament History</h3>
        <div class="col-md-8"></div>
    </div>
    <div class="row" >
        <div class="col-md-10"></div>
        
    </div>
    <div class="row" style="margin-top: 60px;">
        <div class="col-md-2" style="margin-top: 60px;">

        </div>
        <div class="col-md-8">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table style="border-spacing: 20px;border-collapse: separate;">
                    <tr>
                        <td class="text-dark h4">Select Tournament</td>
                        <td><select class="form-control" required name="tr" id="tr" style="min-width: 150px;">
                                <option value="" disabled selected>Select Tournament</option>
                                {% for t in tournaments %}
                                <option value="{{t.tournament_id}}">{{t.tournament_title|title}}</option>
                                {% endfor %}
                            </select></td>

                    </tr>


                    <tr>
                        <td></td>
                        <td><input type="submit" value="View" class="btn btn-primary" name="" id="">
                        </td>

                    </tr>
                </table>
                {% comment %} {% if succ_msg %} {% endcomment %}
                {% comment %} <div class="alert alert-success" id="succ_msg"
                    style=" width: 320px;margin-top:20px;height: 50px;">
                    {{succ_msg}}</div>
                <script>
                    document.getElementById('succ_msg').innerHTML = '{{succ_msg}}'
                    setTimeout(() => {
                        document.getElementById('succ_msg').setAttribute('style', 'display:none')
                    }, 2000)

                </script> {% endcomment %}

                {% comment %} {% endif %} {% endcomment %}
            </form>
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if matches %}
            <div class="col-md-6" style="margin-bottom: 20px;"> Tournament Winner : {% if win_team %} <span>{{win_team|upper}} 
                {% else %} <span>to be decided</span>
                {% endif %}
            </span></div>
            <table class="table table-hover">
                <tr>
                    <th>SL.No</th>
                    <th>Match</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Team1 Score</th>
                    <th>Team2 Score</th>
                    <th>Result</th>

                </tr>
                {% for m in matches %}
                <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{m.match|upper}}</td>
                        <td>{{m.date}}</td>
                        <td>{{m.time}}</td>
                        <td>{{m.team1_score}}</td>
                        <td>{{m.team2_score}}</td>
                        <td>{{m.result|title}}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>



</div>
</div>


{% endblock %}