{% extends 'Admin/AdminMaster.html' %}

{% block page_content %}
<div class="container">
<div class="row" style="margin-top: 40px;">
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        
        <a  href="{% url 'club_management:gen_fixture' %}" value="" class="btn btn-warning name=" id="">Fixture & date</a>
        <!-- <input type="submit" value="Update Date" class="btn btn-warning" name="" id=""> -->
        <a class="btn btn-primary"  name="" id="" href="{% url 'club_management:upload_live' %}">Upload Live</a>
        <a href="/SCMS/AdminHome/MatchStatus" class="btn btn-info" name="" id="">Match Status</a>
        <a href="/SCMS/AdminHome/TournamentStatus" class="btn btn-danger" name="" id="">Tournament Status</a>

    </div>
</div>

    <div class="row">
        <div class="col-md-12" style="margin-top: 40px;">
            <form action="" method="POST" class="f1">
    
                <table style="border-spacing: 10px;border-collapse: separate;">
                    <tr class="h4">
                        <td>Select Tournament</td>
                        <td><select name="" class="form-control" id="">
                            {% for t in t_data %}
                            <option value="">{{t.tournament_title|title}}</option>
                            {% endfor %}
                        </select></td>
            
                         
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" class="btn btn-primary" value="Search" name="search" id=""></td>
                    </tr>
                </table>
            
                </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form action="" method="POST" class="f1">

                <table style="border-spacing: 10px;border-collapse: separate; margin-top: 20px;" class="table table-hover">
                    <tr class="h4">
                        <th>Tournament</th>
                        <th>Venue</th>
                        <th></th>
                         
                    </tr>
                    {% for t in t_data %}
                    <tr>
                        <td>{{t.tournament_title|title}}</td>
                        <td>{{t.venue_id.venue_name|title}}</td>
                        <td><a href="/SCMS/Admin/TrTeams?id={{t.tournament_id}}">Registered Teams</a></td>
                        <!-- <td><input type="hidden" name="t_id" value="{{t.tournament_id}}" id=""></td> -->
                    </tr>
                    {% endfor %}
                </table>
            
                </form>
        </div>
    </div>



</div>
{% endblock %}