{% extends 'Admin/AdminMaster.html' %}

{% block page_content %}
<div class="container">
    <h2 class="text-primary" style="margin-left: 290px;margin-top: 30px;">Registered Teams
    </h2>

<table class="table table-striped" style="margin-top: 40px;">
<tr>
    <th></th>
    <th>Team Name</th>
    <th>Team ID</th>
    <th>Sport</th>
    <th>Type</th>
    <th>Place</th>
    <th>Email</th>
    <th>Phone No</th>
    <th></th>
</tr>
{% for team in teams %}

<tr>
    <td><img src="{{team.team_logo.url}}" class="img img-rounded"> </td>
    <td>{{team.team_name|title}}</td>
    <td>{{team.team_user_id}}</td>
    <td>{{team.team_type.sport_name|title}}</td>
    <td>{{team.team_type.sport_type|title}}</td>
    <td>{{team.team_place|title}}</td>
    <td>{{team.team_email}}</td>
    <td>{{team.team_phno}}</td>
   <td> <a href="{% url 'club_management:view_players'  team.team_id %}">View Players</a></td>
</tr>

{% endfor %}
</table>
</div>
{% endblock %}